@import url("https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro");

h3 {
    font-size: 45px;
    text-shadow: 2px 2px 8px #afada4;
    padding-bottom: 35px;
  }

h4 {
    color: #9BDEFA;
    font-size: 25px;
    text-shadow: 2px 2px 1px #000000;
}

#contact-container {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: 16%;
    margin-right: 16%;
}

#contact-container p {
    font-size: 20px;
}

input[type=text], select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=tel] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
input[type=submit] {
    background-color: #5A95AD;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", "Source Code Pro", san-serif;
}
  
input[type=submit]:hover {
    background-color: #FABF7D;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


@media only screen and (max-width: 900px) {
    #contact-container {
        margin-left: 10%;
        margin-right: 10%;
    }

    #contact-container p {
        font-size: 18px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 22px;
    }
}
