@import url("https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro");

h3 {
    font-size: 45px;
    text-shadow: 2px 2px 8px #afada4;
}

h4 {
    padding-top: 20%;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: "Source Code Pro", "Poppins", san-serif;
    color: #5A95AD;
    justify-content: left;
    z-index: 1;
    text-shadow: 2px 2px 8px #afada4;
  }

#services-text {
    padding-top: 5%;
    display: block;
    padding-bottom: 10%;

}

#services-text a {
    font-size: 20px;
}

img{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

.row {
    margin-top: 8%;
    display: flex;
    vertical-align: middle;
}

.right {
    height: 400px;
    width: 35%;
    overflow: hidden;
    margin-left: 3%;
    margin-right: 10%;
}

.left {
    height: 400px;
    width: 35%;
    overflow: hidden;
    margin-right: 3%;
    margin-left: 10%;
}

@media only screen and (max-width: 900px) {
    .left {
        width: 45%;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-right: 2%;
        margin-left: 7%;
    }

    .right {
        width: 45%;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-left: 2%;
        margin-right: 7%;
    }

    .row {
        margin-top: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    #services-text a {
        font-size: 18px;
    }
  }
